@font-face {
  font-family: Poppins-Black;
  src: url('../fonts/Poppins/Poppins-Black.ttf') format('truetype');
}
@font-face {
  font-family: Poppins-BlackItalic;
  src: url('../fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Poppins-Italic;
  src: url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins-Regular;
  background-color: black;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  z-index: 2;
  pointer-events: none;
}

.carousel-item-image {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  z-index: 2;
  bottom: 0;
}

a, p, h1 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.under {
  font-family: Poppins-Italic;
}

a:hover {
  text-decoration: underline;
  color: #78A591;
}